{# type=model,filename=src/main/java/%options.package%/resources/%model.name%Resource.java,min_version=0.2.0 #}
{% import "macros.j2" as m -%}

package {{options.package}}.resources;
import {{options.package}}.models.*;
import {{options.package}}.repositories.*;
import io.smallrye.common.annotation.RunOnVirtualThread;
import io.smallrye.mutiny.Multi;
import io.smallrye.mutiny.Uni;
import org.eclipse.microprofile.reactive.messaging.Channel;
import org.jboss.resteasy.reactive.RestStreamElementType;

import java.util.List;
import java.util.Map;
import java.util.Optional;
import jakarta.persistence.*;
import jakarta.transaction.*;
import jakarta.validation.Valid;
import jakarta.inject.*;

import jakarta.ws.rs.*;
import jakarta.ws.rs.core.MediaType;

{% set create_resource = model.object and m::has_id(model=model) -%}
{% set model_name_lower = model.name | camelcase -%}

{% if create_resource -%}
@Path("/{{ model_name_lower }}")
{% endif -%}
public class {{ model.name }}Resource{

    {% if create_resource -%}
    {% set id_property_type = m::id_type(model=model) -%}

    @Inject
    @Channel("{{ model_name_lower | plural}}-out")
    Multi<{{ model.name }}> {{ model_name_lower }}Channel;

    @Inject
    {{ model.name }}Repository {{ model_name_lower }}Repository;


    @Transactional
    @POST
    @RunOnVirtualThread
    public {{ model.name }} add{{ model.name }}(@Valid {{ model.name }} {{ model_name_lower }}){
        return {{ model_name_lower }}Repository.save( {{ model_name_lower }} );
    }

    @GET
    @RunOnVirtualThread
    public Iterable<{{ model.name }}> get{{ model.name | plural }}(){
        return {{ model_name_lower }}Repository.findAll();
    }

    @GET
    @RestStreamElementType(MediaType.APPLICATION_JSON)
    public Multi<{{ model.name }}> stream{{ model.name | plural }}(){
        Multi<{{ model.name }}> {{ model.name | plural | camelcase }} =  Multi.createFrom().iterable( {{ model_name_lower }}Repository.findAll() );
        return Multi.createBy().merging().streams({{ model.name | plural | camelcase }}, {{ model_name_lower }}Channel);

    }

    @RunOnVirtualThread
    @Path("/{id}")
    @GET
    public Optional<{{ model.name }}> get{{ model.name }}(@PathParam("id") {{ id_property_type }} id){
        return {{ model_name_lower }}Repository.findById(id);
    }

    @RunOnVirtualThread
    @Transactional
    @Path("/{id}")
    @DELETE
    public void delete{{ model.name }}(@PathParam("id") {{ id_property_type }} id){
        {{ model_name_lower }}Repository.deleteById(id);
    }

    @RunOnVirtualThread
    @Transactional
    @Path("/{id}")
    @PUT
    public {{ model.name }} update{{ model.name }}(@Valid {{ model.name }} {{ model_name_lower }}, @PathParam("id") {{ id_property_type }} id){
        {{ model_name_lower }}.setId(id);
        return {{ model_name_lower }}Repository.save({{ model_name_lower }});
    }

    {% endif -%}

}